@model IEnumerable<SecurityManager.Models.AppModels.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo.CargoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpleadoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpleadoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpleadoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
