@model SecurityManager.Models.AppModels.ReporteAccidente

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReporteAccidente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Accidente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Accidente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empleado.EmpleadoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReporteAccidenteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
